@import "../../App";

$helper-classes: (
  "default": $gray3,
  "error": $danger,
);
$sizes: (
  "sm": 0.5rem 0.7rem,
  "md": 1rem 0.85rem,
);
$buttons: (
  "default": $gray3,
  "primary": $primary,
  "danger": $danger,
);

form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-family: "Noto Sans JP";
  position: relative;

  label {
    font-size: 12px;
  }

  input {
    font-family: inherit;
    font-weight: 500;
  }
}

@each $class, $helper-color in $helper-classes {
  .helper-text-#{$class} {
    font-family: inherit;
    font-size: 10px;
    margin: 0;
    color: $helper-color;
  }
}

.btn {
  border-radius: 8px;
  font-size: 14px;
}

@each $size, $value in $sizes {
  .input-#{$size} {
    @extend .btn;
    padding: $value;
  }

  .default-#{$size} {
    @extend .input-#{$size};
  }
}

.default-hover {
  @extend .input-md;
  border: 1px solid $black3;
}

@each $class, $color in $buttons {
  .border-#{$class} {
    border: 1px solid $color;
  }

  .#{$class} {
    color: $color;
  }
}

.border-disabled {
  border: 1px solid $button-gray1;
  background-color: $gray5;
}

.full-width {
  width: 100%;
}

textarea {
  resize: none;
}

.startIcon {
  padding-left: 3rem;
}

.startIcon-btn {
  position: absolute;
  top: 37px;
  left: 10px;
}

.endIcon-btn {
  position: absolute;
  top: 37px;
  right: 10px;
}
