@import "../../App";

form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-family: "Noto Sans JP";
  position: relative;

  label {
    font-size: 12px;
  }

  input {
    font-family: inherit;
    font-weight: 500;
  }
}

.helper-text-default {
  font-family: inherit;
  font-size: 10px;
  margin: 0;
  color: $gray3;
}

.helper-text-error {
  font-family: inherit;
  font-size: 10px;
  margin: 0;
  color: $danger;
}

.btn {
  border-radius: 8px;
  font-size: 14px;
}

.input-md {
  @extend .btn;
  padding: 1rem 0.85rem;
}

.input-sm {
  @extend .btn;
  padding: 0.5rem 0.7rem;
}

.default-md {
  @extend .input-md;
}

.default-sm {
  @extend .input-sm;
}

.border-default {
  border: 1px solid $gray3;
}

.default-hover {
  @extend .input-md;
  border: 1px solid $black3;
}

.border-primary {
  border: 1px solid $primary;
}

.border-danger {
  border: 1px solid $danger;
}

.border-disabled {
  border: 1px solid $button-gray1;
  background-color: $gray5;
}

.primary {
  color: $primary;
}

.danger {
  color: $danger;
}

.full-width {
  width: 100%;
}

textarea {
  resize: none;
}

.startIcon {
  padding-left: 3rem;
}

.startIcon-btn {
  position: absolute;
  top: 37px;
  left: 10px;
}

.endIcon-btn {
  position: absolute;
  top: 37px;
  right: 10px;
}

