@import "../App.scss";

main {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0rem 0 5rem;
  padding-right: 6rem;
  div {
    margin-bottom: 1rem;
  }
}

.grid-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  align-items: self-start;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
}

h2 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 24px;
  color: $gray2;
}
