@import "../../App";

footer {
  font-family: "Montserrat";
  font-size: 14px;
  margin: 2rem 0;
  color: $gray4;
  font-weight: 500;
  margin-left: 0.2rem;

  a {
    font-weight: 700;
    color: $gray4;

    &:hover,
    &:focus,
    &:active,
    &:visited {
      font-weight: 700;
      color: $gray4;
    }
  }
  
  @media (max-width: 768px) {
    & {
      text-align: center;
    }
  }
}
