$black1: #000000;
$black2: #090f31;
$black3: #333333;
$black4: #3f3f3f;
$red: #f7542e;
$light-gray: #fafbfd;
$gray1: #9e9e9e;
$gray2: #4f4f4f;
$gray3: #828282;
$gray4: #a9a9a9;
$gray5: #f2f2f2;
$default-hover: #aeaeae;
$button-gray1: #e0e0e0;
$primary: #2962ff;
$primary-hover: #0039cb;
$secondary: #455a64;
$secondary-hover: #1c313a;
$danger: #d32f2f;
$danger-hover: #9a0007;
$blue1: #3d5afe;
$blue2: rgba(41, 98, 255, 0.1);
$white: #ffffff;

.app {
  display: flex;
}
